
	ul, li {
	    margin: 0px;
	    padding: 0px;
	}
	
	div#demo,
	ul#demo li {
		padding:0px;
		margin:0px;
	    list-style: none;
	    padding-left: 0px;
	    zoom:1;
	    font-size:14px;
	    line-height:14px;
	
	}
	
	ul#demo2 li {
	    background: #dadada;
	    border: 1px solid #71241a;
	}
	
	ul#demo,
	ul#demo2 {
	    width: 10em;
	}
	
	.yui3-fail {
	    background:red;
	}
	
	.lstName {
		padding-left:20px;
		padding-bottom:10px;
		font-size:12px;
		color:3366cc;
	}
	.lstName a {
		color:3366cc;
		text-decoration:none;
	}
	
	#demo .yui3-pass,
	#demo2 .yui3-pass {
	    background:green;
	}
	
	#demo dt {
	    font-weight:bold;
	}
	
	#demo dt::after {
	    content':';
	}
	
	#demo dd {
	    margin-bottom:0.5em;
	}
	
	span#demo {
	    background:#ffa928;
	    display:block;
	    height:10px;
	    width:10px;
	}
	
	.sub_h {
	    width:150px;
	    height:32px;
	    border: 1px solid #c9c9c9;
	    color: #333333
	}
	
	.sub_on {
		width:150px;
		height:32px;
		color:#ffffff;
		border: 1px solid #c9c9c9;
		background-image:url('img/header_bg.jpg');
	}
	
	
	.sub_off {
		color:#ffffff;
		background-image:none;
		border: 1px solid #c9c9c9;
	}
	
	.sub_title {
		position:absolute;
		padding-left:9px;
		padding-top:7px;
	}
	
	.sub_title a {
		text-decoration: none;
		color: #1a1a1a;
	}
	
	
	.sub {
		padding:6px;
		padding-left:12px;
	}
	
	.sub a {
		font-size:12px;
		text-decoration: none;
		color: #3366cc;
	}
	
	.sub a:visited {
		font-size:12px;
		text-decoration: none;
		color: #cc66ff;
	}
	.off {
		display:none;
	}
	

	
	
	div#nav {
		width: 150px;
		padding: 0px;
		margin-top: 0px;
		padding-top:45px;
		float: left;
	}