
	ul, ol, li {
	   	--margin: px;
	    --padding: 1px;
	}
	
	div#demo,
	ul#demo li {
		padding:0px;
		margin:0px;
	    list-style: none;
	    padding-left: 0px;
	    zoom:1;
	    font-size:14px;
	    line-height:14px;
	
	}
	
	ul#demo2 li {
	    background: #dadada;
	    border: 1px solid #71241a;
	}
	
	ul#demo,
	ul#demo2 {
	    width: 10em;
	}
	
	.yui3-fail {
	    background:red;
	}
	
	.lstName {
		padding-left:20px;
		padding-bottom:10px;
		font-size:12px;
		color:3366cc;
	}
	.lstName a {
		color:3366cc;
		text-decoration:none;
	}
	
	#demo .yui3-pass,
	#demo2 .yui3-pass {
	    background:green;
	}
	
	#demo dt {
	    font-weight:bold;
	}
	
	#demo dt::after {
	    content':';
	}
	
	#demo dd {
	    margin-bottom:0.5em;
	}
	
	span#demo {
	    background:#ffa928;
	    display:block;
	    height:10px;
	    width:10px;
	}
	
	.sub_h {
	    width:150px;
	    height:32px;
	    border: 1px solid #c9c9c9;
	    color: #333333
	}
	
	.sub_on {
		width:150px;
		height:32px;
		color:#ffffff;
		border: 1px solid #c9c9c9;
		background-image:url('img/header_bg.jpg');
	}
	
	
	.sub_off {
		color:#ffffff;
		background-image:none;
		border: 1px solid #c9c9c9;
	}
	
	.sub_title {
		position:absolute;
		padding-left:9px;
		padding-top:7px;
	}
	
	.sub_title a {
		text-decoration: none;
		color: #1a1a1a;
	}
	
	
	.sub {
		padding:6px;
		padding-left:12px;
	}
	
	.sub a {
		font-size:12px;
		text-decoration: none;
		color: #3366cc;
	}
	
	.sub a:visited {
		font-size:12px;
		text-decoration: none;
		color: #cc66ff;
	}
	.off {
		display:none;
	}
	
	div#nav {
		width: 150px;
		padding: 0px;
		margin-top: 0px;
		padding-top:45px;
		float: left;
	}
	
	#tlistbox {
		position:relative;
		width:270px;
		padding-top:42px;
		font-size:14px;
	}
	
	.tbox a {
		font-size:14px;
		color:#3333CC;
	}
	
	#vote {
		padding-top:10px;
	}
	
	#vote a {
		color:#333333;
	}
	
	.del {
		visibility:hidden;
		position:absolute;
		top:7px;
		left:106px
	}

	.numb {
		color:#ffffff;
		opacity:.5;
		font-size:30px;
		border: 1px solid #c9c9c9;
		width:120px;
		height:120px;
		position:absolute;
		top:7px;
		left:7px;
		--background:#ffffff;
		text-align:center;
		font-weight:bold;
		visibility:hidden
	}
	
	.num {
		color:#333333;
		border: 1px solid #c9c9c9;
		width:15px;
		height:15px;
		position:absolute;
		top:7px;
		left:7px;
		background:#ffffff;
		text-align:center;
		font-weight:bold;
		visibility:hidden
	}

	#cancel {
		font-size:12px;position:absolute;left:665px;top:-30px;
	}
	
	#cancel a {
		text-decoration: none	
	}

	#cancel a:hover {
		text-decoration: underline
	}
	
	#screen {
		position:relative;
		padding-top: 20px;
	}

	#build_choose {
		padding-top:10px;
		position:relative;
		font-size:26px;
	}
	
	#build_choose td {
		font-size:14px;
	}

	#build_choose a {
		text-decoration: none;
	}
	
	#build_choose a:hover {
		text-decoration: underline;
	}
	
	#build_list {
		padding-top:20px;
		position:relative;
	}
	
	#buildTitle a {
		text-decoration: none;
	}
	
	#buildTitle a:hover {
		text-decoration: underline;
	}
	