body {
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px;
	padding-left:0px;
	margin:0px;
	color:#333333;
}

body a {
	color:#3366FF;
}

#s1,#s2,#s3,#s4,#s5,
#e1,#e2,#e3,#e4,#e5,
#itemBox {

	width:132px;
	min-height:165px;
	position:relative;
	padding-right:0px;
	border:1px solid #c9c9c9;
}

#s1_img,
#s2_img,
#s3_img,
#s4_img,
#s5_img,
#imgBox {
	position:relative;
	left:5px;
	top:5px;
	background:#c9c9c9;
	width:121px;
	height:121px;
	font-size:62px;
	text-align:center;
	color:#ffffff;
}

#e1_name,#e2_name,#e3_name,#e4_name,#e5_name,
#s1_name,#s2_name,#s3_name,#s4_name,#s5_name,
#itemTxt {

	position:relative;
	top:0px;
	width:120px;
	height:40px;
	left:0px;
	text-align:center;
	font-size:9px;
	line-height:11px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:6px;
	color: #333333;
}

#s1_name a,
#s2_name a,
#s3_name a,
#s4_name a,
#s5_name a,
#itemTxt a {
	color: #333333;
	font-size:9px;
	text-decoration:none;
}

div#wrapper {
	position:relative;
	top:0px;
	width: 760px;
	background-color:#FFFFFF;
	padding: 0px;
	--border: 1px solid #c9c9c9;
}

div#header {
	padding: 0px;
	margin: 0px;
	width:760px;
	height:91px;
}

div#search {
	position:relative;
	width:755px;
	background:#ffffff;
	--border-bottom: 1px dotted #999999;
	font-size: 14px;
}

div#search .btn_on,
div#search .btn_off {
	float: right;
	color: #ffffff;
	padding:5px;
}

div#search .btn_on {
	background: #0066CC;
}

div#search a {
	text-decoration: none;
	color: #0066CC;
}

div#searchBox {
	position:absolute;
	top:11px;
	left:20px;
}

div#searchBox input[type="text"], div#inputArea textarea
{
	font-family: Arial, Sans-Serif;
	font-size: 15px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	border: solid 1px #999999;
	width: 165px;
}

div#subheader {
	margin: 0px;
	width:760px;
	height:29px;
	padding-top:5px;
	background-image:url("/css/bar_under_tabs.jpg");

}

#submit_btn {
	display:block;
	width:103px;
	height:34px;
	background-image:url("../img/v1/share_button.jpg");
}
#submit_btn:hover {
	background-image:url("../img/v1/share_hover_button2.jpg");
}

#nxt_btn {
	display:block;
	width:103px;
	height:34px;
	background-image:url("../img/v1/next.jpg");
}
#nxt_btn:hover {
	background-image:url("../img/v1/next_hover_button.jpg");
}

#n_places {
	display:block;
	width:73px;height:29px;
	background-image:url("../img/v1/hdr/off_places.jpg");
}
#n_places:hover {
	background-image:url("../img/v1/hdr/over_places.jpg");
}

#n_barsandclubs {
	display:block;
	width:125px;height:29px;
	background-image:url("../img/v1/hdr/off_barsandclubs.jpg");
}
#n_barsandclubs:hover {
	background-image:url("../img/v1/hdr/over_barsandclubs.jpg");
}

#n_friends {
	display:block;
	width:129px;height:29px;
	background-image:url("../img/v1/hdr/off_friends.jpg");
}
#n_friends:hover {
	background-image:url("../img/v1/hdr/over_friends.jpg");
}

#n_me {
	display:block;
	width:74px;height:29px;
	background-image:url("../img/v1/hdr/off_me.jpg");
}
#n_me:hover {
	background-image:url("../img/v1/hdr/over_me.jpg");
}

#n_movies {
	display:block;
	width:66px;height:29px;
	background-image:url("../img/v1/hdr/off_movies.jpg");
}
#n_movies:hover {
	background-image:url("../img/v1/hdr/over_movies.jpg");
}

#n_performers {
	display:block;
	width:96px;height:29px;
	background-image:url("../img/v1/hdr/off_performers.jpg");
}
#n_performers:hover {
	background-image:url("../img/v1/hdr/over_performers.jpg");
}

#n_thingstodo {
	display:block;
	width:102px;height:29px;
	background-image:url("../img/v1/hdr/off_thingstodo.jpg");
}
#n_thingstodo:hover {
	background-image:url("../img/v1/hdr/over_thingstodo.jpg");
}

#n_restaurants {
	display:block;
	width:95px;height:29px;
	background-image:url("../img/v1/hdr/off_restaurants.jpg");
}
#n_restaurants:hover {
	background-image:url("../img/v1/hdr/over_restaurants.jpg");
}

div#titleBanner {
	background-image:url("../img/v1/gradient_below_tabs.jpg");
	height:95px;
	color:#2f5d75;
	position:relative;
	font-size:30px;
}

.sub_txt,
.sub_txt_on
{
	font-size:13px;
	padding-top:3px;
	padding-left:10px;
	padding-right:10px;
	float:right;
	position:relative;
}

.sub_txt_on
{
	background:#ffffff;
	height:27px;
}

.sub_txt a {
	color:#ffffff;
	text-decoration:none;
}

.sub_txt_on a {
	text-decoration:none;
}

#fiveList {
	left:380px;
	width:375px;
	font-size:12px;
	position:relative;
	min-height:110px;
}

#fiveList a {
	font-size:12px;
	text-decoration:none;
}
	
#build {
	float:right;
	padding-top:3px;
}

#build a {
	font-size:12px;
	color:#3a5898;
	text-decoration:none;
}

ol#build {
		width:250px;
		padding-top: 0px;
		padding:0px;
		margin:0px;
	    padding-left: 0px;
}

ol#build li {
		padding-top: 0px;
		padding:0px;
		margin:0px;
	    list-style: upper-roman;
	    padding-left: 0px;
	    zoom:1;
	    font-size:14px;
	    line-height:14px;
	    width:250px;
}
	
#listItem {
	padding-bottom:5px;
	padding-top: 15px;
	border-top: 1px dotted #999999;
	position:relative;
}

#listItem a:hover {
	text-decoration:underline	
}

#itemHdr,
#itemHdrSingle {
	position:relative;
	width:350px;
	height:60px;
	padding-bottom:10px;
	padding-left:5px;
	font-size:14px;

}

#itemHdr {
	position:absolute;
	top:15px;
	left:0px;
}
	
#itemHdr a {
	color:#333333;
	font-size:14px;
	text-decoration:none;
}
	
#itemHdrSingle {
	height:65px;
	font-size:14px;
	line-height:16px;
	padding-left:10px
}
	
#listItem td {
	font-size:21px;
}

#emptyheader {

	padding-left:15px;
	padding-top:5px;
	padding-bottom:20px;
	font-size:20px;	
}
	
#itemImg {
	position:relative;
	width:760px;
	height:170px"
}

#itemImg td a {
	font-size:11px;
}
	
div#main {
	padding-left: 170px;
	padding-top: 0px;
	min-height:450px;
}

div#mainwide {
	min-height: 510px;
	position:relative;
}

div#main .hdr,
div#mainwide .hdr {
	font-size:15px;
	color:#333333;
}

div#main .hdr a,
div#mainwide .hdr a {
	color:#333333;
}

div#main .title,
div#mainwide .title {
	font-size:12px;
}

div#main .img_title,
div#mainwide .img_title {
	font-size:9px;
}

div#footer {
	font-size:10px;
	padding: 15px;
	margin: 0px;
	color: #333333;
}

div#mainwide #catForm {
	padding-top:30px;
	font-size:16px;
	color: #333333;
}

div#mainwide input[type="text"]
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #666666;
    width: 300px;
}

#topic_new input
{
	font-family: Arial, Sans-Serif;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #666666;
    width: 300px;
}

div#mainwide select
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #666666;
    width: 300px;
    height: 100px;
}



 /* Default Facebook CSS */
            .fbbody
            {
                font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
                font-size: 11px;
                color: #333333;
            }
            /* Default Anchor Style */
            .fbbody a
            {
                color: #3b5998;
                outline-style: none;
                text-decoration: none;
                font-size: 11px;
                font-weight: bold;
            }
            .fbbody a:hover
            {
                text-decoration: underline;
            }
            /* Facebook Box Styles */
            .fbgreybox
            {
                background-color: #f7f7f7;
                border: 1px solid #cccccc;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fbbluebox
            {
                background-color: #eceff6;
                border: 1px solid #d4dae8;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fbinfobox
            {
                background-color: #fff9d7;
                border: 1px solid #e2c822;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            .fberrorbox
            {
                background-color: #ffebe8;
                border: 1px solid #dd3c10;
                color: #333333;
                padding: 10px;
                font-size: 13px;
                font-weight: bold;
            }
            /* Content Divider on White Background */
            .fbcontentdivider
            {
                margin-top: 15px;
                margin-bottom: 15px;
                width: 520px;
                height: 1px;
                background-color: #d8dfea;
            }
            /* Facebook Tab Style */
            .fbtab
            {
                padding: 8px;
                background-color: #d8dfea;
                color: #3b5998;
                font-weight: bold;
                float: left;
                margin-right: 4px;
                text-decoration: none;
            }
            .fbtab:hover
            {
                background-color: #3b5998;
                color: #ffffff;
                cursor: hand;
            }
        
