{% extends "default.html" %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/index.css" />

	<script src="http://www.google.com/jsapi?key=ABQIAAAASq4d-j8Xa2wkM4ME8h9tjBQ40v0bFbDb4uexQ_JmT_2-_IhWKxTSMmzrrFVKjNDNeuH9AYlpCRGomQ" type="text/javascript"></script>
	
	<script language="javascript">

		var scroll_index = 0;
		var suggestion_index = 0;
		var bCreate = false;
		var iCatID = 0;

		var objSearch;
		var objSuggestion;
		var gSearch

      	if (document.images)
      	{
      	  	pica= new Image(103,34); 
      	  	pica.src= "{{APP_LINK}}img/v1/next_hover_button.gif";

      	  	picb= new Image(103,34); 
      	  	picb.src= "{{APP_LINK}}img/v1/share_hover_button2.jpg";
      	}

		//
		// DISABLE/ENABLE DIVS
		//
		cDivs = new Array();
		function disableDivs()
		{
			d = document.getElementsByTagName("BODY")[0];
			for(x=0;x<arguments.length;x++)
			{
			    if (document.getElementById(arguments[x]))
			    {
			    	//document.getElementById(arguments[x]).set('opacity',0.3);
			    	
			    xPos = document.getElementById(arguments[x]).offsetLeft;
			    yPos = document.getElementById(arguments[x]).offsetTop + 135;
			    oWidth = document.getElementById(arguments[x]).offsetWidth;    
			    oHeight = document.getElementById(arguments[x]).offsetHeight;
			    cDivs[cDivs.length] = document.createElement("DIV");
			    
			    cDivs[cDivs.length-1].style.width = oWidth+"px";
			    cDivs[cDivs.length-1].style.height = oHeight+"px";
			    cDivs[cDivs.length-1].style.position = "absolute";
			    cDivs[cDivs.length-1].style.left = xPos+"px";
			    cDivs[cDivs.length-1].style.top = yPos+"px";
			    //cDivs[cDivs.length-1].style.opacity = 0.1;
			    //cDivs[cDivs.length-1].style.filter = "alpha(opacity=20)";
			    d.appendChild(cDivs[cDivs.length-1]);
			    }
			}
		}

		function hideCDivs()
		{
			for (i=0;i<cDivs.length;i++)
			{
			document.getElementsByTagName("BODY")[0].removeChild(cDivs[i]);
			}
			cDivs = [];
		}

		//Get the next free index
		function clearList()
		{
			for (var i=1; i<=5;  i++)
			{
				document.getElementById("name."+i).value = "";
				document.getElementById("img."+i).value = "";
				document.getElementById("url."+i).value = "";
			}
		}

		function getNextIndex()
		{
			for (var i=1; i<=5;  i++)
			{
				if (document.getElementById("name."+i).value == "")
				{
					return i;
				}
			}
			return 0;
		}

		function validTopic(strValue)
		{
	    	//location.href=location.href + '#screen';
	    	var objRegEmpty = /^([ ]+)$/i;
			var objRegExp = /^([a-zA-Z0-9 '',""]+)$/i;

			if( objRegExp.test(strValue) && !objRegEmpty.test(strValue)) {
				return true;
			}
			
			return false;
		}

		// Create business logic in a YUI sandbox using the 'io' and 'json' modules
		YUI().use("node", "io", "dump", "json-parse", "event-key", function (Y) {

			var bInitStart = true;
			var step1 = true;
			var setSearch = Y.Node.get('#setFrame');
			var setFrame = Y.Node.get('#set');

	        var API_ROOT = '{{APP_LINK}}new/jsonSearch';
	        var API_CAT_ROOT = '{{APP_LINK}}new/jsonCat';
	        var API_LOC_ROOT = '{{APP_LINK}}new/jsonLoc';

			var sLocation = "New York, NY"
			var data;
			var jsonSuggestion;

			var ARR_CATEGORY = {'name': 'Things to Do', 'hint': 'e.g. "Live Music" or "Cirque du Soleil"', 'topics': [{'i': 0, 't': 'music', 'n': 'Live Music I want to see next week'}, {'i': 1, 't': 'kid friendly', 'n': 'Fun Places to take the Kids'}, {'i': 2, 't': 'free', 'n': 'FREE things to do next week'}, {'i': 3, 't': 'tourist,travel', 'n': 'Tourist Hot Spots'}, {'i': 4, 't': 'outdoor,active', 'n': 'Outdoor Activities I want to do'}, {'i': 5, 't': 'kid friendly,Baby', 'n': 'Activities with Toddlers'}], 'omn': 'events', 'cat': '0', 'lnk': 'thingstodo'};

			var bChange = false;
			var bOpen = false;
			var bInitSuggestion = true;
			var bSearching = false;

		    //
		    // JSON CAT HANDLER
		    //
			function jsonCatHandler(id, o){

                // Process the JSON data returned from the server
                try {
                    ARR_CATEGORY = Y.JSON.parse(o.responseText);

                    if (scroll_index < 0 || scroll_index >= ARR_CATEGORY.topics.length)
                    {
						scroll_index = 0;
                    }

    				Y.Node.get('#scroll_name').set("innerHTML", ARR_CATEGORY.topics[scroll_index]["n"]);
    				Y.Node.get('#hint').set("innerHTML", ARR_CATEGORY.hint );
                }
                catch (e) {
                    alert("JSON Parse failed!");
                    return;
                }
			}

		    function onLoadHandler(e) {

		    	loadLocation(true);

		    	//alert('start');
		    	clearList();

			    //Disable divs in screen
			    disableDivs('screen');
			    disableDivs('cancel_build');
			    Y.Node.get('#screen').setStyle('opacity',0.3);
			    Y.one('#cancel_build').setStyle('opacity', 0);

				//setSearch.setStyle('display','none');
				
				API_CAT = API_CAT_ROOT + "?iCatID=" + iCatID;

			    // assign search field handlers
			    var handle = Y.on('key', function(e) {
			    	apiSearchEvents(document.getElementById("what").value,false);
			    }, '#what', 'down:13,9', Y);

			    var handle = Y.on('key', function(e) {
			    	loadLocation(false);
			    }, '#loc', 'down:13,9', Y);

			    var handle = Y.on('key', function(e) {
			    	nextBtn();
			    }, '#topic', 'down:13,9', Y);


			    //Y.one('#cancel_build').setAttribute('opacity', .5);
		        // Make the call to the server for JSON data
		        /*
		        transaction = Y.io(API_CAT, {
							method:"GET",
							on:{success: jsonCatHandler}
							});
				*/

				FB.Canvas.setSize({height:950});
				bInitStart = false;
			}


		    //assign page load handler:
		    Y.on("load", onLoadHandler, window, Y, "The window load event fired.  The page and all of its image data, including the large image of Uluru, has completed loading.");

		    // capture the node that we'll display the messages in
		    //var target = Y.Node.get('#demo_msg');
		    var onMouse_item = function(e) {

		    	//alert(objSearch.length);
		    	id = e.currentTarget.get('id');
		    	var i = id.substring(1);

		    	s = ""
		    	if (objSearch[i].summary)
		    	{
					s = objSearch[i].summary;
		    	}
		    	else if (objSearch[i].description)
		    	{
					s = objSearch[i].description
		    	}

		    	if (objSearch[i].address)
		    	{
					s += "<br><br><i>" + objSearch[i].address + "<br>" +  objSearch[i].city + ", " + objSearch[i].state + "</i>"
		    	}
		    	
		    	Y.one('#'+id).setStyle('background','#dddddd');
		    	Y.one('#'+id+'_d').set("innerHTML",s);
		    }

		    var onMouseOut_item = function(e) {

		    	id = e.currentTarget.get('id');

		    	Y.one('#'+id).setStyle('background','#ffffff');
		    	Y.one('#'+id+'_d').set('innerHTML','');
		    }
		    
		    var onClick_choice = function(e) {

		    	id = e.currentTarget.get('id');
		    	var index = id.substring(1);

				document.getElementById("name."+index).value = "";
				document.getElementById("img."+index).value = "";
				document.getElementById("url."+index).value = "";

    			Y.Node.get('#e'+index+'_img').set("innerHTML", "");
    			Y.Node.get('#e'+index+'_name').set("innerHTML", "");
        		Y.Node.get('#submit_btn').setStyle('opacity',0.6);

        		//Write X
        		Y.Node.get('#e' + index + '_x').setStyle("visibility", "hidden");
        		Y.Node.get('#e' + index + '_n').setStyle("visibility", "hidden");
		    }

		    function writeChoice(tIndex,item,type)
		    {
                if (item.images && item.images.length > 0)
                {
                	var img = item.images[0].url;
                    img = img.replace("_thumb.jpg","_primary.jpg");
                }
                else
                {
					var img = "{{APP_LINK}}img/v1/gen_thingstodo.jpg";
                }

				//Get this index
                if (tIndex > 0)
                {
                    if (type == 'e')
                    {
                        if (item.link) {url = item.link;} 
                        else {url = item.url;}
                        
                		document.getElementById("name." + tIndex).value = item.name;
                		document.getElementById("url." + tIndex).value = url;
                		document.getElementById("img." + tIndex).value = img;

                		if (getNextIndex() == 0)
                		{Y.Node.get('#submit_btn').setStyle('opacity',1.0);}

                		//Write X
                		Y.Node.get('#e' + tIndex + '_x').setStyle("visibility", "visible");
                		Y.Node.get('#e' + tIndex + '_n').setStyle("visibility", "visible");
                    }

                    //alert('#' + type + tIndex + '_img');
        			Y.Node.get('#' + type + tIndex + '_img').set("innerHTML", "<img width=121 height=121 src='"+img+"' />");
        			Y.Node.get('#' + type + tIndex + '_name').set("innerHTML", item.name);
                }
                //alert(e.name + " " + e.link + " " + img);
		    }

		    var onClick_suggestion = function(e) {

		    	//GET ITEM
		    	id = e.currentTarget.get('id');
		    	var index = id.substring(1) - 1 + suggestion_index;
                var e = objSuggestion[index];
                var tIndex = getNextIndex()
                
 				writeChoice(tIndex,e,"e");
		    	setSearch.setStyle('visibility','hidden');

				_gaq.push(['_trackEvent', 'create_list', 'add_suggestion', e.name]); 
		    }
		    
			var onClick_item = function(e) {

		    	//GET ITEM
		    	id = e.currentTarget.get('id');
		    	var index = id.substring(1);
                var e = objSearch[index];

                document.getElementById("what").value = "";
                Y.one('#what').focus();

                var tIndex = getNextIndex()
 				writeChoice(tIndex,e,"e");
		    	setSearch.setStyle('visibility','hidden');

				_gaq.push(['_trackEvent', 'create_list', 'add_search', e.name]);    	
		    };

		    function writeFiveSuggestions(bInitClicks)
		    {
			   	var len = objSuggestion.length;
                
                if (len >= 5)
                {
                    len = 5;
                }
                
				for (var i=1; i<=len; i++)
				{
					eventIndex = i - 1 + 1*suggestion_index;
			    	var e = objSuggestion[eventIndex];
	 				writeChoice(i,e,"s");
				}
		    }

		    function returnDataObj(objJson)
		    {
			    if (iCatID == 5)
			    {
				    return objJson.rsp.content.venues;
			    }
			    if (iCatID == 4)
			    {
				    if (objJson.rsp.content.groups) {
					    return objJson.rsp.content.groups;
				    } else {
						return objJson.rsp.content.events;
				    }
			    }
			    if (iCatID == 3)
			    {
				    return objJson.rsp.content.movies;
			    }
				if (iCatID == 1 || iCatID == 2)
				{
					return objJson.rsp.content.venues;
				}
				else
				{
					index = 0;
					var arrEvents = new Array();

					e = objJson.rsp.content.events;
					if (e)
					{
						for (var i=0; i<e.length; i++)
						{
							arrEvents[index++] = e[i];
						}
					}

					e = objJson.rsp.content.groups;
					if (e)
					{
						for (var i=0; i<e.length; i++)
						{
							arrEvents[index++] = e[i];
						}
					}

					e = objJson.rsp.content.venues;
					if (e)
					{
						for (var i=0; i<e.length; i++)
						{
							arrEvents[index++] = e[i];
						}
					}
					return arrEvents;
				}
		    }

		   	//////////////////////
		   	//
		   	//	searchHandler
		   	//
		   	/////////////////////
		    function suggestionSuccessHandler(id, o){

                // Process the JSON data returned from the server
                try {
    				jsonSuggestion = Y.JSON.parse(o.responseText);
    				objSuggestion = returnDataObj(jsonSuggestion);        
                }
                catch (e) {
                    alert("JSON Parse failed!");
                    return;
                }

                writeFiveSuggestions(true);
				Y.log("Success handler is complete.", "info", "example");

		    	Y.one('#what').focus();

		    	bSearching = false;
		    }

			function successHandler(id, o){

				bSearching = false;
				//alert('success');
				
                // Process the JSON data returned from the server
                try {
                    data = Y.JSON.parse(o.responseText);
                    objSearch = returnDataObj(data);          
                }
                catch (e) {
                    alert("JSON Parse failed!");
                    return;
                }

                //alert(objSearch);
                if (!objSearch || objSearch == "")
                {
                    //alert('none');
                	Y.Node.get('#searchError').setStyle('visibility','visible');
                }
                else
                {
					bOpen = true;
	                var s='';
	                var len = objSearch.length;
	                var startIndex = 0; //len - 6;
	
	            	if (startIndex < 0) {startIndex = 0;}
	                for (var i = 0; i < len; i++) {
	
	                    var e = objSearch[i];
	                    if (e.images && e.images.length > 0)
	                    {
	                        var img = e.images[0].url;
	                    }
	                    else
	                    {
							var img = "../img/blank.gif";
	                    }
	
	                    //s += "<li id='i" + i + "'><div class=item><img src=" + img + " width=30 height=30><div class=el><b>" + e.name + "</b></div></div></li>";
	                    
	                    s += "<li id='i" + i + "' class=item>" +
	                    	"<div class=el_img><img src=" + img + " width=30 height=30></div>" +
	                    	"<div class=el><b>" + e.name + "</b><div id='i" + i + "_d' class='el_s'></div></div>" +
	                    "</li>";
	                }
	
	                Y.Node.get('#setFrame').setStyle('visibility','visible');
	                //Y.one('#set').setStyle('display','');
					
					Y.log("Success handler called; handler will parse the retrieved XML and insert into DOM.", "info", "example");
	
					setFrame.set("innerHTML", s);
	
					Y.all('#set li').on('click', onClick_item);
					Y.all('#set li').on('mouseover', onMouse_item);
					Y.all('#set li').on('mouseout', onMouseOut_item);
	
					Y.log("Success handler is complete.", "info", "example");
                }

		    	Y.one('#what').focus();
		    	Y.Node.get('#search_btn').setStyle('opacity',1);		    	
			}

			//Provide a function that can help debug failed
			//requests:
			function failureHandler(id, o){

				_gaq.push(['_trackEvent', 'create', 'search_failure']);
				
				//alert('fail');

				//Y.log("Failure handler called; http status: " + o.status, "info", "example");
				//setFrame.set("innerHTML", "failure:" + o.status + " " + o.statusText);
				bSearching = false;

				//alert(gSearch);
				apiSearchEvents(gSearch,false);
			}	    

			//CALL THE API 
			function apiSearchEvents(sSearch, bSuggestion)
			{	
				if (bSearching == false)
				{
					gSearch = sSearch
					bSearching = true;

					if (!bSuggestion)
					{
						Y.Node.get('#search_btn').setStyle('opacity',.3);
						_gaq.push(['_trackEvent', 'create_list', 'search', sSearch]);
					}

					Y.Node.get('#searchError').setStyle('visibility','hidden');
					var eventsHandler = successHandler;
					if (bSuggestion)
					{
						var eventsHandler = suggestionSuccessHandler;
					}
				
					API = API_ROOT + "?what=" + sSearch + "&iCatID=" + iCatID + "&where=" + escape(sLocation);
					if (bSuggestion)
					{
						API += "&t=" + escape(ARR_CATEGORY.topics[scroll_index]["t"])
					}
					
			        // Make the call to the server for JSON data
			        transaction = Y.io(API, {
								method:"GET",
								on: {
										success:eventsHandler,
										failure:failureHandler
								},
								arguments: {
									sSearch: sSearch,
									bSuggestion: bSuggestion
								}
							});
				}
			}

		    // Attach a click event listener to the button #demo_btn to send the request
		    Y.on('click',function (e) {

				//if (!step1)
				//{
				apiSearchEvents(document.getElementById("what").value,false);
				//}
		    },'#search_btn');


		    /////////////////////
		    //JSON LOCATION EVENT
		    //////////////////////
		    function jsonLocHandler(id, o){
		    	
                // Process the JSON data returned from the server
                try {
    				locObj = Y.JSON.parse(o.responseText);
    				if (locObj.rsp.content)
    				{
    					if (locObj.rsp.content.search_info.point.city)
    					{sLocation = locObj.rsp.content.search_info.point.city + ", " + locObj.rsp.content.search_info.point.state;}
    					else
    					{sLocation = locObj.rsp.content.search_info.point.state;}
//alert(sLocation);
						document.getElementById("sLocation").value = sLocation;
    					Y.one('#locName').set("innerHTML",sLocation);
    					Y.Node.get('#changeloc').setStyle('visibility','visible');
    					Y.Node.get('#submitloc').setStyle('visibility','hidden');
        			}
    				else
    				{
    					alert(locObj.rsp.msg);
    				}
    	     	}
                catch (e) {
                    alert('JSON Parse Fail');
                    return;
                }
		    }

		    function loadLocation(bInit)
		    {
		    	if (bInit == false)
		    	{			    	
		    		api = API_LOC_ROOT + "?sLoc=" + escape(document.getElementById("loc").value);

		    		// Make the call to the server for JSON data
		        	transaction = Y.io(api, {
							method:"GET",
							on:{success: jsonLocHandler}
							});
		    	}
		    	else
		    	{
			    	if (sLocation == "")
			    	{
				    	sLocation = google.loader.ClientLocation.address.city + ", " + google.loader.ClientLocation.address.region;

			    	}
		    		Y.one('#locName').set("innerHTML", sLocation);
					document.getElementById("sLocation").value = sLocation;
		    	}
		    }
		    
		    Y.on('click', function (e) {

				loadLocation(false);
		    },'#submitloc_btn');

		    Y.on('click', function (e) {

		    	hideCDivs('buildTitle');
		    	hideCDivs('build_choose')		    	
		    	disableDivs('screen');

				Y.Node.get('#screen').setStyle('opacity',0.3);
				Y.Node.get('#build_choose').setStyle('opacity',1.0);
				Y.Node.get('#buildTitle').setStyle('opacity',1.0);
				Y.Node.get('#submit_btn').setStyle('opacity',1.0);

				Y.one('#cancel_build').setStyle('opacity', 0);

		    }, '#cancel_build');

		    
		    Y.on('click',function (e) {

				if (bOpen)
				{
	                document.getElementById("what").value = "";
	                Y.one('#what').focus();
			    	setSearch.setStyle('visibility','hidden');

			    	bOpen = false;
				}
		    },'body');

		    function changeLocPrompt()
		    {
		    	_gaq.push(['_trackEvent', 'create_list', 'change_city']);

			    if (bChange) {
				    bChange=false;
					Y.Node.get('#submitloc').setStyle('visibility','hidden');
					Y.Node.get('#changeloc').setStyle('visibility','visible');
			    }else{
				    bChange=true;
					Y.Node.get('#submitloc').setStyle('visibility','visible');
					Y.Node.get('#changeloc').setStyle('visibility','hidden');
			    }
			    Y.one('#loc').focus();
		    }

		    Y.on('click', function (e) {

		    	changeLocPrompt();
			},['#changeloc_btn', '#cancelloc_btn']);

		    Y.on('click', function (e) {

		    	if (getNextIndex() == 0)
		    	{
		    	 
				 	FB.login(function(response) {
				    	  if (response.session) {
				    		  	if (response.perms) {
				    		  		_gaq.push(['_trackEvent', 'create_list', 'share', document.getElementById("sListName").value]);
				    		  		document.storeForm.submit();
					    		}
				    	  }
				 	}, {perms:'publish_stream'});
				
		    	}
		    },'#submit_btn');

		    Y.on('click', function (e) {

		    	createTopic();
		    }, '#create');

		    function createTopic()
		    {
		    	_gaq.push(['_trackEvent', 'create_list', 'create_own_topic']);

		    	if (bCreate)
		    	{
			    	sTitle = "Choose";
			    	fScroll = "visible";
			    	fNew = "hidden";
					bCreate = false;
		    	}
		    	else
		    	{
			    	sTitle = "Create";
			    	fScroll = "hidden";
			    	fNew = "visible";
					document.getElementById("topic").value = "";
					bCreate = true;
		    	}
		    	
	    		Y.Node.get('#prompt').set("innerHTML", "<b>" + sTitle + " Top </b><img src=\"http://top--5.appspot.com/img/v1/5_circle.jpg\" style=\"vertical-align:middle\" />");
				Y.Node.get('#topic_scroll').setStyle('visibility',fScroll);
				Y.Node.get('#topic_new').setStyle('visibility',fNew);
				Y.one('#topic').focus();
		    }

		    function nextBtn()
		    {
			    if (!bInitStart)
			    {
			    	if (!bCreate || validTopic(document.getElementById("topic").value))
			    	{
			    		_gaq.push(['_trackEvent', 'create_list', 'topic_next', document.getElementById("topic").value]);

			    		Y.one('#error').setStyle('visibility', 'hidden');
			    		
				    	hideCDivs('screen');
				    	disableDivs('build_choose');
				    	disableDivs('buildTitle');
				    	hideCDivs('cancel_build');
		
						Y.Node.get('#screen').setStyle('opacity',1.0);
						Y.Node.get('#build_choose').setStyle('opacity',0.3);
						Y.Node.get('#buildTitle').setStyle('opacity',0.3);
						Y.Node.get('#submit_btn').setStyle('opacity',0.3);
		
						if (!bCreate)
						{
							document.getElementById("sListName").value = ARR_CATEGORY.topics[scroll_index]["n"];
						}
						else
						{
							document.getElementById("sListName").value = document.getElementById("topic").value;
						}
		
						iCat = 0;
				    	apiSearchEvents("",true);
		
				    	Y.one('#cancel_build').setStyle('opacity', 1.0);
				    	location.href="#screen";
	
				    	if (bInitSuggestion)
				    	{
				    		//Add click events
					   	 	for (var i=1; i<=5; i++)
					    	{
		 						Y.one('#s'+i).on('click', onClick_suggestion);
		 						Y.one('#e'+i).on('click', onClick_choice);
					    	}
					    	bInitSuggestion = false;
				    	}
			    	}
			    	else
			    	{
			    		Y.one('#error').setStyle('visibility', 'visible');
			    		Y.one('#topic').focus();
			    	}
			    }
		    }


		    Y.on('click', function (e) {

				nextBtn();
		    }, '#nxt_btn');

		    Y.on('click', function (e) {

				suggestion_index--;
				if (suggestion_index < 0)
				{
					suggestion_index = 0;
					//Y.Node.get('#suggestion_lft').setStyle('opacity',0.6);
				}
		    	writeFiveSuggestions(false);
		    },'#suggestion_lft');
						
		    Y.on('click', function (e) {

		    	suggestion_index++;
		    	len = objSuggestion.length;

				if (suggestion_index > len - 5)
				{
					suggestion_index = len-5
				}
		    	writeFiveSuggestions(false)
		    },'#suggestion_rt');

		    Y.on('click', function (e) {

				rOpacity = 1.0;
		   		scroll_index++;

			   	if (scroll_index >= (ARR_CATEGORY.topics.length-1))
				{
					scroll_index=ARR_CATEGORY.topics.length-1;rOpacity = 0.6;
				}

			   	Y.Node.get('#scroll_lft').setStyle("opacity", 1.0);
			    Y.Node.get('#scroll_rt').setStyle("opacity", rOpacity);
		    	Y.Node.get('#scroll_name').set("innerHTML", ARR_CATEGORY.topics[scroll_index]["n"]);

		    	_gaq.push(['_trackEvent', 'create_list', 'topic_right']);
		    	
			},'#scroll_rt');

		    Y.on('click', function (e) {

				lOpacity = 1.0;
		   		scroll_index--;

			   	if (scroll_index <= 0){
					scroll_index=0;lOpacity = 0.6;
				}

			   	Y.Node.get('#scroll_rt').setStyle("opacity", 1.0);
			    Y.Node.get('#scroll_lft').setStyle("opacity", lOpacity);
		    	Y.Node.get('#scroll_name').set("innerHTML", ARR_CATEGORY.topics[scroll_index]["n"]);

		    	_gaq.push(['_trackEvent', 'create_list', 'topic_left']);

			},'#scroll_lft');
		});
	</script>

	<style type="text/css">

		body {
			font-size:12px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:0px;
			color:#1a1a1a;
		}

		search_btn a {
			font-size:12px;
			text-decoration: underline;
			color: #3366cc;
		}

		.item {
			position:relative;
			min-height:30px;
		}
		
		.event {
			width:120px;
			height:120px;
    		border: 2px solid #aaaaaa;
    		float:right;
    		font-size:10px;
    		position:relative;
		}

		.e_img {
			position:absolute;
			left:25px;
			top:20px;
		}
	
		.e_name {
			position:absolute;
			top:120px;
			padding:5px;
		}

		.el {
			font-size:10px;
			position:relative;
			top:2px;
			left:37px;
			min-height:33px;
			width:255px;
		}
		
		.el_img {
			position:absolute;
			left:2px;
			top:2px;
		}
		
		.el_s {
			padding-top:4px;
			padding-bottom:5px;
		}
		
		#set {
			border: 1px solid #aaaaaa;
			width:300px;
			padding:0px;
			background:#ffffff;
		}
		
		ul#set li {
			border-bottom: 1px solid #aaaaaa;
			padding:3px;
			margin:0px;
		    list-style: none;
		    padding-left: 0px;
		    zoom:1;
		    font-size:11px;
		    line-height:11px;
		}
		
		#scroll_lft {}
		#scroll_rt {
			padding:0px
		}
	
	</style>
	{% endblock %}

	{% block onload %}{% endblock %}

	{% block FBbody %}{% endblock %}

	{% block search %}{% endblock %}

	{% block main %}

		<div style="padding-left:20px;padding-top:10px">

			<div style="position:relative" id="buildTitle">
				<span style="font-size:20px;font-weight:bold">Build a list for:</span>
				
				<div style="position:absolute;left:180px;top:0px;width:300px">
					<div id="changeloc">
						<span style="font-size:20px" id="locName"></span> <a href="#" id="changeloc_btn">change</a>
					</div>
					<div id="submitloc" style="visibility:hidden;width:375px;position:absolute;top:-5px;left:0px">
						<div style="float:right;padding-top:10px">
						<a href="#" id="submitloc_btn">Submit</a> | <a href="#" id="cancelloc_btn">cancel</a>
						</div>
						
						<input id="loc" type="text" name="loc" style="width:250px;font-size:16px;border:5px solid #c9c9c9;"/>
					</div>
				</div>
			</div>
	
			<div id="build_choose">
			
				<div id="error" class="fbinfobox" style="position:absolute;top:-5px;left:305px;visibility:hidden">
					Topic names must be alpha-numeric.
				</div>
		
				<table border=0>
					<tr>
						<td><img src="{{APP_LINK}}img/v1/1-1.jpg"/></td>
						<td>
							<div style="float:right;width:240px;font-size:26px;padding-top:0px;padding-left:20px">
								<div id="prompt" ><b>Choose Topic:</div>
							</div>
						</td>
						<td>
							<div style="padding-top:20px;padding-left:0px;position:relative;">
								
								<div id="topic_scroll" style="position:relative;">
									<table border=0>
									<tr>
									<td><div id="scroll_lft" style="opacity:0.6"><img src="{{APP_LINK}}img/v1/blue_arrow_dark_lft.jpg" /></div></td>
									<td style="font-size:15px;padding-left:5px;padding-right:5px;width:250px"><div style="text-align:center" id="scroll_name"></div></td>
									<td><div id="scroll_rt" ><img src="{{APP_LINK}}img/v1/blue_arrow_dark_rgt.jpg" /></div></td>
									</tr>
									</table>
								</div>

								<div id="topic_new" style="padding-top:25px;border:solid 0px;width:270px;position:absolute;left:10px;top:0px;visibility:hidden">
									<input id="topic" type="text" name="topic" style="width:270px;font-size:16px;border:5px solid #c9c9c9;" />
								</div>

								<div style="padding-left:30px;padding-top:12px;font-size:12px;position:relative">
									Or <a href="#" id="create">create your own</a>
								</div>
							</div>
						</td>
						<td>
							<div style="float:right;padding-left:30px;padding-top:0px"">
							<a id="nxt_btn" id="nxt_btn" ></a>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			<a name="screen"></a>
			<div id="screen">
							
			<div id="build_list">
				
				<div id="cancel">
					<a href="#" id="cancel_build" style="opacity:0.0">change</a>
				</div>

				<table border="0">
					<tr>
						<td><img src="{{APP_LINK}}img/v1/2-1.jpg"/></td>
						<td>
							<div style="float:right;width:260px;font-size:26px;padding-top:0px;padding-left:10px">
								<b>Search for Items:</b>
							</div>
						</td>
						<td>
							<div style="position:relative;padding-left:15px;padding-top:10px">

								<table>
								<tr>
								<td><input id="what" type="text" name="what" style="width:220px;font-size:16px;border:5px solid #c9c9c9;"/></td>
								<td><a id="search_btn"><img src="{{APP_LINK}}img/v1/search_img.jpg" border=0/></a></td>
								</tr>
								</table>
							
								<div id="hint" style="font-size:11px;color:#909090;position:absolute;left:20px;top:52px;">	
								</div>
					
							</div>
						</td>
						<td >
							<div id="searchError" class="fbinfobox" style="visibility:hidden;padding-top:8px">No results found</div>
						</td>
					</tr>
				</table>									
			</div>
			
			<div style="padding-left:0px;padding-top:30px;position:relative;z-index:1">
					
								<div id="setFrame" style="visibility:hidden;position:absolute;left:330px;top:-20px;z-index:2;">
								<ul id="set"></ul>
	  							</div>
	  							
					<div style="width:710px;position:relative;height:170px;left:0px;padding-right:0px;border:px solid #cccccc">

						{% for i in range_index %}
						<div style="float:right;padding-left:3px">
							<div id="e{{i}}">
									<div id="imgBox">
										<div style="position:absolute;top:20px;left:40px;color:#ffffff;font-size:60px">{{i}}</div>
										<div id="e{{i}}_img" style="position:absolute;top:0px;left:0px"></div>
									</div>
									<div id="e{{i}}_name" style="text-size:9px" ></div>
									<div id="e{{i}}_x" class="del"><img src="{{APP_LINK}}img/v1/close_x_icon.gif" /></div>
									<div id="e{{i}}_n" class="num">{{i}}</div>
							</div>
						</div>
						{% endfor %}

					</div>
								<div style="padding-left:590px;padding-top:5px">
								<a id="submit_btn"></a>
							</div>	

			</div>

			<div style="padding-left:10px;padding-top:30px;font-size:16px">
				<div style="padding-left:25px;padding-bottom:5px">
				<b>Suggestions</b> (click a suggestion to add to your list)
				</div>
				
					<div style="position:relative;width:720px;height:170px;left:0px;padding-right:0px;border:0px solid #cccccc">
						
						<div style="float:right">
						<img id="suggestion_rt" src="{{APP_LINK}}img/v1/blue_long_arrow_dark_rgt.jpg"/>
						</div>

						{% for i in range_index %}
							<div style="float:right;padding-left:3px">
								<div id="s{{i}}" >
									<div id="s{{i}}_img" class="imgBox"></div>
									<div id="s{{i}}_name" class="list_item"></div>
								</div>
							</div>
						{% endfor %}

						<div>
						<img id="suggestion_lft" src="{{APP_LINK}}img/v1/blue_long_arrow_dark_lft.jpg"/>
						</div>

					</div>
			</div>
			
			</div>
			
		</div>
		
		<form name="storeForm" action="{{FB_APP_LINK}}new/store#list" method="get" target="_top">
			<input id="sListName" name="sListName" type="hidden" >
			<input id="sLocation" name="sLocation" type="hidden" >
			<input type="hidden" id="iCategory" name="iCategory" value="{{iCatID}}">

			{% for i in range_index %}
			<input type="hidden" id="name.{{i}}" name="name.{{i}}" value="">
			<input type="hidden" id="img.{{i}}" name="img.{{i}}" value="">
			<input type="hidden" id="url.{{i}}" name="url.{{i}}" value="">
			<br>
			{% endfor %}

		</form>

		{% endblock %}
