{% extends "default.html" %}

	{% block head %}
	<link rel="stylesheet" type="text/css" href="/css/index.css" />

	<script language="javascript">

		YUI().use("node", function(Y) {

		    function fnHandler(e) {
	    		Y.one('#cat{{iCategory}}_h').addClass('sub_on');
				Y.one('#cat{{iCategory}}_s').setStyle('display','');
		    }

			Y.on("load", fnHandler);

			var contextObj = {
				name: "context"
			};

		    var onClick_cat = function(e) {

		    	var open = false;
		    	id = e.currentTarget.get('id');
		    	
		    	if (Y.one('#'+id+'_s').getStyle('display') == 'none')
		    	{
					open = true;
		    	}
		    	Y.all('.sub').setStyle('display','none');
		    	Y.all('.sub_on').removeClass('sub_on');

		    	if (open)
		    	{
		    		Y.one('#'+id+'_h').addClass('sub_on');
					Y.one('#'+id+'_s').setStyle('display','');

					document.location.href='/?c='+id.substring(3,4);
		    	}
		    	else
		    	{
		    		document.location.href='/';
		    	}		    	
		    };
	
		    Y.all('#demo li').on('click', onClick_cat);
		});		
	</script>
	{% endblock %}

	{% block search %}
		<form action="/" name="search" method="get">
		<div id="search">
			<div style="padding:7px">
				<input type="text" name="search" />
				
				<div style="padding-top:10px;padding-left:1px;position:relative">
					{{location}}<br><a href="#">[change location]</a>
					
					<div style="position:absolute;left:108px;top:5px">
						<a href="javascript:document.forms['search'].submit();">
						<img src="img/go_bttn.jpg" border="0">
						</a>
					</div>
				</div>
			</div>
		</div>
		</form>
	{% endblock %}

	{% block leftnav %}
		<div id="nav">
		<ul id="demo" class="yui3-menubutton">
		{% for cat in arr_cat.category %}
			<li id='cat{{cat.id}}'>
				<div id="cat{{cat.id}}_h" class='sub_h'>
					<div class="sub_title">{{cat.name}}</div>
				</div>
			</li>
			<div id='cat{{cat.id}}_s' class='sub' style='display:none'>
			{% for s in cat.sub %}
				<a href="/?c={{cat.id}}&s={{s.id}}">{{s.name}}</a><br>
	 		{% endfor %}
	 		</div>
		{% endfor %}
		</ul>
		</div>
	{% endblock %}

	{% block main %}
	<div id="main">
		{%if aList %}
	
			<div class='hdr'><fb:name uid="{{aList.fbUID}}" possessive="true" /></fb:name></div>
			
			<div style="padding-top:15px">
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td colspan=5 class="title"><div class="lstName">{{aList.name}}</div></td>
				<td rowspan="3" valign="top">
					<div style="padding-top:10px;padding-left:10px">
					<a href="/new/create"><img src="img/Pick_your_5_bttn.jpg" border="0"></a>
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding-right:3px"><img src="http://graph.facebook.com/{{ tList.fbUID }}/picture?type=square" border="0"/></td>

				{% for item in aList.items %}
				<td valign="top">
					<div style="padding-left:20px">
						<a href="http://www.zvents.com{{item.url}}" target=_new><img src="{{item.img}}" width=66 height=66 border="0"></a>
						<div style="padding-top:5px" class="img_title">
						{{item.name}}
						</div>
					</div>
				</td>
				{% endfor %}
	 		</tr>
	 		<tr>
	 			<td></td>
	 			<td colspan=6 style="padding-left:20px;padding-top:5px">
				<fb:comments xid="{{ tList.key }}" width="500" numposts="5"></fb:comments>	 			
	 			</td>
	 		</tr>
	 		</table>
	 		</div>
 			<br><bR>

		{% endif %}

		<div class='hdr'>
			{%ifnotequal sSearch ""%}
				Search results for <b>'{{sSearch}}'</b>
			{%else%}
				Most Popular {{ sCategory }} Lists 
			{%endifnotequal%}
			in {{location}}
		</div>

		<div style="padding-top:10px">

			{% for tList in arrLists %}
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td colspan=5 class="title"><div class="lstName"><a href="{{app_link}}?lid={{tList.key}}">{{tList.name}}</a></div></td>
				<td rowspan="3" valign="top">
					<div style="padding-top:10px;padding-left:10px">
					<a href="/new/create"><img src="img/Pick_your_5_bttn.jpg" border="0"></a>
					</div>
				</td>
			</tr>

			<tr>
				<td style="padding-right:3px">
					<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
				</td>

				{% for item in tList.items %}
				<td valign="top">
					<div style="padding-left:20px">
						<a href="http://www.zvents.com{{item.url}}" target=_new><img src="{{item.img}}" width=66 height=66 border="0"></a>
						<div style="padding-top:5px" class="img_title">
						{{item.name}}
						</div>
					</div>
				</td>
				{% endfor %}
			</tr>

	 		<tr>
	 			<td></td>
	 			<td colspan=5 style="padding-left:15px;padding-top:10px;height:20px">
	 			<fb:like width="400" href="{{list_link}}lnk?lid={{tList.key}}"></fb:like>
	 			</td>
	 		</tr>
	 		</table>
 			<br>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
