{% extends "default.html" %}

{% block head %}

	<script language="javascript">

		//Get the next free index
		function clearList()
		{
			for (var i=1; i<=5;  i++)
			{
				document.getElementById(i+".name").value = "";
				document.getElementById(i+".img").value = "";
				document.getElementById(i+".url").value = "";
			}
		}

		function getNextIndex()
		{
			for (var i=1; i<=5;  i++)
			{
				if (document.getElementById(i+".name").value == "")
				{
					return i;
				}
			}
			return 0;
		}

		// Create business logic in a YUI sandbox using the 'io' and 'json' modules
		YUI().use("node", "io", "dump", "json-parse",function (Y) {

			var setSearch = Y.Node.get('#set');
	        //var API_ROOT = 'http://localhost:8080/new/jsonSearch';
	        var API_ROOT = 'http://zvlists.appspot.com/new/jsonSearch';
			var data;

			setSearch.setStyle('display','none');

		    // capture the node that we'll display the messages in
		    //var target = Y.Node.get('#demo_msg');
		    var onMouse_item = function(e) {

		    	id = e.currentTarget.get('id');
		    	Y.one('#'+id).setStyle('background','#dddddd');
		    }

		    var onMouseOut_item = function(e) {

		    	id = e.currentTarget.get('id');
		    	Y.one('#'+id).setStyle('background','#ffffff');
		    }

		    var onClick_choice = function(e) {
		    	id = e.currentTarget.get('id');
		    	var index = id.substring(1);

				document.getElementById(index+".name").value = "";
				document.getElementById(index+".img").value = "";
				document.getElementById(index+".url").value = "";

    			Y.Node.get('#e'+index+'_img').set("innerHTML", "");
    			Y.Node.get('#e'+index+'_name').set("innerHTML", "");
		    }

			var onClick_item = function(e) {
	
		    	var open = false;
		    	id = e.currentTarget.get('id');

		    	//GET EVENTS
		    	var index = id.substring(1);
                var e = data.rsp.content.events[index];
                if (e.images && e.images.length > 0)
                {
                    var img = e.images[0].url;
                }
                else
                {
					var img = "img/blank.gif";
                }

				//Get this index
                var tIndex = getNextIndex()
                if (tIndex > 0)
                {
                	document.getElementById(tIndex+".name").value = e.name;
                	document.getElementById(tIndex+".url").value = e.link;
                	document.getElementById(tIndex+".img").value = img;

        			Y.Node.get('#e'+tIndex+'_img').set("innerHTML", "<img src="+img+"/>");
        			Y.Node.get('#e'+tIndex+'_name').set("innerHTML", e.name);
                }
                //alert(e.name + " " + e.link + " " + img);
 
		    	setSearch.setStyle('display','none');    	
		    };

		  	//Define a function to handle a successful response from
			//Yahoo! Weather.  The success handler will find the response
			//object in its second argument:
			function successHandler(id, o){

                // Process the JSON data returned from the server
                try {
                    data = Y.JSON.parse(o.responseText);                    
                }
                catch (e) {
                    alert("JSON Parse failed!");
                    return;
                }

                var s='';
                for (var i = data.rsp.content.events.length - 1; i >= 0; --i) {

                    var e = data.rsp.content.events[i];
                    if (e.images && e.images.length > 0)
                    {
                        var img = e.images[0].url;
                    }
                    else
                    {
						var img = "../img/blank.gif";
                    }
                    s += "<li id='i" + i + "'><div class=item><img src=" + img + " width=30 height=30><div class=el>" + e.name + "</div></div></li>";
                }

                Y.one('#set').setStyle('display','');
				Y.log("Success handler called; handler will parse the retrieved XML and insert into DOM.", "info", "example");

				setSearch.set("innerHTML", s);

				Y.all('#set li').on('click', onClick_item);
				Y.all('#set li').on('mouseover', onMouse_item);
				Y.all('#set li').on('mouseout', onMouseOut_item);

				for (var i=1; i<=5; i++)
				{
					Y.one('#e'+i).on('click', onClick_choice);
				}
				
				Y.log("Success handler is complete.", "info", "example");
			}

			//Provide a function that can help debug failed
			//requests:
			function failureHandler(id, o){
				//Y.log("Failure handler called; http status: " + o.status, "info", "example");
				div.set("innerHTML", "failure:" + o.status + " " + o.statusText);
			}	    

		    // Attach a click event listener to the button #demo_btn to send the request
		    Y.on('click',function (e) {

		    	//var search = Y.Node.get('#what');
				//var what = search.value;
				
				var sSearch = document.getElementById("what").value;
				var iCat = document.getElementById("iCategory").value;

				API = API_ROOT + "?what=" + sSearch + "&iCat=" + iCat
				
		        // Make the call to the server for JSON data
		        transaction = Y.io(API, {
							method:"GET",
							on:
								{
									success:successHandler,
									failure:failureHandler
								}
							}
				);
		    },'#search_btn');

		});

		clearList();
	</script>

	<style type="text/css">

		body {
			font-size:12px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:0px;
			margin:10px;
			color:#1a1a1a;
		}

		search_btn a {
			font-size:12px;
			text-decoration: underline;
			color: #3366cc;
		}

		.item {
			position:relative;
			height:30px;
		}
		
		.event {
			width:120px;
			height:120px;
    		border: 2px solid #aaaaaa;
    		float:right;
    		font-size:10px;
    		position:relative;
		}

		.e_img {
			position:absolute;
			left:25px;
			top:20px;
		}
	
		.e_name {
			position:absolute;
			top:120px;
			padding:5px;
		}

		.el {
			font-size:11px;
			position:absolute;
			top:0px;
			left:33px;
			height:33px;
			font-weight:bold;
		}
		
		#set {
			border: 1px solid #aaaaaa;
			width:300px;
			padding:0px;
			background:#ffffff;
		}
		
		ul#set li {
			border-bottom: 1px solid #aaaaaa;
			padding:3px;
			margin:0px;
		    list-style: none;
		    padding-left: 0px;
		    zoom:1;
		    font-size:11px;
		    line-height:11px;
		}
	</style>
	{% endblock %}

	{% block main %}
	<div id="mainwide">
		
		<b>Create List</b>
		<br><br>
		
		<div style="position:relative;z-index:1">
			search: <input id="what" type="text" name="what"/> <a href="#" id="search_btn">search</a><br>
		
			<div style="position:absolute;left:45px;top:10px;">
				<ul id="set"></ul>
	  		</div>
		</div>	
		<br><br><br><br>
		<form action="/new/store" method="post">
		<input name="sListName" type="hidden" value="{{sName}}"/>
		
		<div style="position:relative;float:left;z-index:0">
			<div id="e5" class="event">
				<div id="e5_img" class='e_img'></div>
				<div id="e5_name" class='e_name'></div>
			</div>
			<div id="e4" class="event">
				<div id="e4_img" class='e_img'></div>
				<div id="e4_name" class='e_name'></div>
			</div>
			<div id="e3" class="event">
				<div id="e3_img" class='e_img'></div>
				<div id="e3_name" class='e_name'></div>		
			</div>
			<div id="e2" class="event">
				<div id="e2_img" class='e_img'></div>
				<div id="e2_name" class='e_name'></div>		
			</div>
			<div id="e1" class="event">
				<div id="e1_img" class='e_img'></div>
				<div id="e1_name" class='e_name'></div>		
			</div>
		</div>
		<br><Br>
		<br><Br>
		<br><Br>
		<br><Br>
		<br><Br>
		<br><Br>
		<br><Br>
		<br><Br>
		
		<input type="submit">

		<input type="hidden" id="iCategory" name="iCategory" value="{{iCategory}}">
			<br>
			<input type="hidden" id="1.name" name="1.name" value="">
			<input type="hidden" id="1.img" name="1.img" value="">
			<input type="hidden" id="1.url" name="1.url" value="">
			<br>
	
			<input type="hidden" id="2.name" name="2.name" value="">
			<input type="hidden" id="2.img" name="2.img" value="">
			<input type="hidden" id="2.url" name="2.url" value="">
			<br>
	
			<input type="hidden" id="3.name" name="3.name" value="">
			<input type="hidden" id="3.img" name="3.img" value="">
			<input type="hidden" id="3.url" name="3.url" value="">
			<br>
			
			<input type="hidden" id="4.name" name="4.name" value="">
			<input type="hidden" id="4.img" name="4.img" value="">
			<input type="hidden" id="4.url" name="4.url" value="">
			<br>
			
			<input type="hidden" id="5.name" name="5.name" value="">
			<input type="hidden" id="5.img" name="5.img" value="">
			<input type="hidden" id="5.url" name="5.url" value="">
			<br>  		
		</form>
	</div>
	{% endblock %}