<html>

	<head>
	</head>
  
  	<body>
	<b>Create List</b>
	<br><br>
	<form action="/new/store" method="post">
	category: <b>{{sCategory}}</b><br>
	sub-category: <b>{{iSubcategory}}</b>
	<br>list name: <input type="text" name="sListName"/>
	<table>

		{% for i in rslts %}
		<tr>
			<td><input type="checkbox" name="{{i.id}}"></td>
			<td width="500">{{i.name}}</td>
			<td><a href="http://www.zvents.com/{{i.lnk}}"><img src="{{i.img}}" border="0"/ width=62 height=62></a></td>
		</tr>
		<input type="hidden" name="{{i.id}}.name" value="{{i.name}}">
		<input type="hidden" name="{{i.id}}.img" value="{{i.img}}">
		<input type="hidden" name="{{i.id}}.url" value="{{i.lnk}}">
  		{% endfor %}
 
	</table>

	<input type="hidden" name="iCategory" value="{{iCategory}}">
	<input type="hidden" name="iSubcategory" value="{{iSubcategory}}">

	<input type="submit">

	</form>

  </body>
</html>