{% extends "default.html" %}

{% block head %}
	<script language="javascript">

		YUI().use("node", function (Y) {    

		    // Attach a click event listener to the button #demo_btn to send the request
		    Y.on('onchange', function (e) {

		    },'#sName');
		});	

		YUI().use("node", function (Y) {    

		    // Attach a click event listener to the button #demo_btn to send the request
		    Y.on('click', function (e) {

		    },'#cat');
		});	
	
		// Create business logic in a YUI sandbox using the 'io' and 'json' modules
		YUI().use("node", function (Y) {    

		    // Attach a click event listener to the button #demo_btn to send the request
		    Y.on('click', function (e) {

		    	document.getElementById("nxt").src = "/img/nxt_arrow_2.jpg";
		    },'#nxt');
	
		});		

	</script>
{% endblock %}

{% block main %}

	<form action="/new/cat" method="get">

	<div id="mainwide">
	
		<div style="position:absolute;top:0px;right:0px;z-index:1">
			<img src="/img/back_2.jpg"/>
		</div>
			
		<div style="position:absolute;bottom:0px;left:0px;z-index:1">
			<img src="/img/back_1.jpg"/>
		</div>

		<div style="padding-left:35px;padding-top:18px;position:absolute;z-index:2">
			<div class="hdr">Pick Your Five</div>
			
			<div id="catForm">
				Create your list name.
				<div style="padding-top:10px">
					<input id="sName" type="text" name="sName" />
				</div>
			
				<div style="padding-top:30px">
				Choose your category...
					<div style="padding-top:10px">
						<select name="iCategory" id="cat" size="7">
							<option value="0">Things to Do
							<option value="4">Restaurants
							<option value="3">Bars and Clubs
							<option value="6">Movies
							<option value="5">Performers
							<option value="3">Places
						</select>
					</div>
				</div>
			
				<div style="position:absolute;left:390px;top:210px;">
					<img id="nxt" src="/img/nxt_arrow_1.jpg" onClick="document.forms[0].submit()" />
				</div>
			</div>
	

		</div>
	</div>
	</form>
{% endblock %}


div#mainwide .hdr {
	font-size:36pt;
	color:#3366cc;	
}

div#mainwide .title {
	font-weight:bold;
	font-size:18pt;
	color:#999999;	
}

div#mainwide .category {
	font-size:25pt;
	color:#3366cc;	
	