<html>

	<head>
	<title>{% block title %}Zvents Top 5{% endblock %}</title>
	<script type="text/javascript" charset="utf-8" src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js" >
	</script>

	<link rel="stylesheet" type="text/css" href="/css/main.css" />

	{% block head %}{% endblock %}

	</head>

	<body>
		<div id="fb-root"></div>
	    <script>
	      window.fbAsyncInit = function() {
	        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
	                 xfbml: true});
	        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
	          window.location.reload();
	        });
	      };
	      (function() {
	        var e = document.createElement('script');
	        e.type = 'text/javascript';
	        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	        e.async = true;
	        document.getElementById('fb-root').appendChild(e);
	      }());
	    </script>

		{% if 1 %} 
		<div id="wrapper">
	
			<div id="header">
				<a href="/"><img src="/img/v1/new_header.jpg" border=0 /></a>
				
				<div class="banner_sub_txt">{%if sCategory%}{{sCategory}} in{%endif%}</div>
				<div class="banner_txt">{{location}}</div>
			</div>

			<div id="subheader">
				{% block subhead %}
				<div class="sub_button" style="width:100px">
					<div style="position:absolute;top:4px;left:0px;"><img src='/img/gold_bttn.gif'></div>
					<div style="position:absolute; left:15px"><a href="/new/create">Create a List</a></div>	
				</div>
				<div class="sub_txt"><a href="/?f=1">Friend's Lists</a></div>
				<div class="sub_txt"><a href="/?u=1">My Lists</a></div>
				{% endblock %}
			</div>

			{% block search %}{% endblock %}
			
			{% block leftnav %}{% endblock %}
			
			{% block main %}{% endblock %}
	
			<div id="footer">Copyright &copy;2010 <a href="http://www.zvents.com" target=_new>Zvents</a></div>
		</div>
		{% endif %}

  </body>
</html>