<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">

	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% block title %}Top 5{% endblock %}</title>

	<script type="text/javascript" charset="utf-8" src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js" ></script>
	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/main.css" />

	{% block head %}{% endblock %}
	</head>

	<body {%block onload%}{%endblock%}>

		<a name="list"></a>
		<div id="fb-root"></div>

	    <script>
	      window.fbAsyncInit = function() {
		      
	        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
	                 xfbml: true});
	        
	        //FB.Event.subscribe('auth.login', function(response) {
	        //  window.location.reload();
	        //});
	      };

	      (function() {
	        var e = document.createElement('script');
	        e.type = 'text/javascript';
	        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	        e.async = true;
	        document.getElementById('fb-root').appendChild(e);
	      }());

	      	if (document.images)
	      	{
	      	  	pic1= new Image(73,29); 
	      	  	pic1.src= "http://top--5.appspot.com/img/v1/hdr/over_places.jpg";

	      	  	pic2= new Image(125,29); 
	      	  	pic2.src= "http://top--5.appspot.com/img/v1/hdr/over_barsandclubs.jpg";

	      	  	pic3= new Image(129,29); 
	      	  	pic3.src= "http://top--5.appspot.com/img/v1/hdr/over_friends.jpg";

	      	  	pic4= new Image(74,29); 
	      	  	pic4.src= "http://top--5.appspot.com/img/v1/hdr/over_me.jpg";

	      	  	pic5= new Image(66,29); 
	      	  	pic5.src= "http://top--5.appspot.com/img/v1/hdr/over_movies.jpg";

	      	  	pic6= new Image(96,29); 
	      	  	pic6.src= "http://top--5.appspot.com/img/v1/hdr/over_performers.jpg";

	      	  	pic7= new Image(102,29); 
	      	  	pic7.src= "http://top--5.appspot.com/img/v1/hdr/over_thingstodo.jpg";

	      	  	pic8= new Image(95,29); 
	      	  	pic8.src= "http://top--5.appspot.com/img/v1/hdr/over_restaurants.jpg";
	      	}
	    </script>

		<div id="wrapper" >

			<div id="header">
				<a href="{{FB_APP_LINK}}" target=_top><img src="{{APP_LINK}}img/v1/new_header.jpg" width="760" height="91" border=0 /></a>
				
				<div style="position:absolute;top:20px;left:440px">
					<a href="javascript:document.forms['search'].submit();">
						<img src="{{APP_LINK}}img/v1/search_layer.gif" border="0"/>
					</a>
					
					<div id="searchBox">
						<form action="{{APP_LINK}}search" target=_top name="search" method="get">
							
						<input type="text" name="search"  />
						</form>
					</div>
				</div>

			</div>

			<div id="subheader">
			
			{% block subhead %}
				
				{% for nav in arrSubNav %}
					
					<div style="float:right;position:relative;">
					{% ifequal nav.lnk navIndex %}
						<img src="{{APP_LINK}}img/v1/hdr/on_{{nav.lnk}}.jpg" />
					{% else %}
						<a href="{{APP_LINK}}{{nav.lnk}}?" id="n_{{nav.lnk}}" target=_top> </a>
					{% endifequal %}
					</div>

				{% endfor %}
			{% endblock %}
			</div>
			
			{% block search %}
				<div id="titleBanner">
		<div style="float:right;padding-top:8px;padding-right:0px"><a href="{{FB_APP_LINK}}new/create?c=0#list" target=_top><img src="http://top--5.appspot.com/img/v1/Build_a_top5_button.gif" border="0" /></a></div>
		<div style="float:right;padding-right:20px;padding-top:20px;font-size:13px">Share your favorites.</div>
		<div style="position:absolute;top:10px;left:10px">Things to Do</div>
		<div style="position:absolute;left:14px;top:60px;font-size:20px">CATEGORY LEADERS</div>
				</div>
			{% endblock %}

			<div id="mainwide">
			{% block main %}{% endblock %}
			</div>
			
			<div id="footer">Copyright &copy;2010 <a href="http://www.zvents.com" target=_new>Zvents</a></div>
		</div>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31999-113']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
	
	</body>
</html>

