<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">

	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{% block title %}Top 5{% endblock %}</title>
	<script type="text/javascript" charset="utf-8" src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js" >
	</script>

	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/main.css" />

	{% block head %}{% endblock %}

	</head>

	<body {%block onload%}{%endblock%}>

		<a name="list"></a>
		<div id="fb-root"></div>
	    <script>
	      window.fbAsyncInit = function() {
	        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
	                 xfbml: true});
	        //FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
	        //  window.location.reload();
	        //});
	      };
	      (function() {
	        var e = document.createElement('script');
	        e.type = 'text/javascript';
	        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
	        e.async = true;
	        document.getElementById('fb-root').appendChild(e);
	      }());
	    </script>

		{% block FBbody %}{% endblock %}

		<div id="wrapper">
	
			<div id="header">
				<a href="/"><img src="{{APP_LINK}}img/v1/new_header.jpg" border=0 /></a>
			</div>

			<div id="subheader">
				<div style="text-align:center">
			{% block subhead %}
				
				{% for nav in arrSubNav %}
					{% ifequal nav.lnk navIndex %}
						<div class="sub_txt_on">{{nav.nm}}</div>
					{% else %}
						<div class="sub_txt"><a href="{{APP_LINK}}{{nav.lnk}}">{{nav.nm}}</a></div>
					{% endifequal %}					
				{% endfor %}
			{% endblock %}
				</div>
			</div>

			{% block search %}
			<div id="search">
				<div style="position:relative;float:right;width:190px;padding-top:13px">
					<form action="/search" name="search" method="post">
					<a href="javascript:document.forms['search'].submit();" style="float:right"><img src="{{APP_LINK}}img/v1/search_img.jpg" border="0"></a>	
					<input type="text" name="search"  />
					</form>
				</div>

				{% block sub_search %}
				<div style="width:162px;position:relative;padding-top:10px;padding-left:10px">
					<!-- <div class="btn_off"><a href="#">By City</a></div> -->
					<div class="btn_on">Most Recent</div>
					<div style="padding-top:5px">Sort by:</div>
				</div>
				{% endblock %}
			</div>
			{% endblock %}

			<div id="mainwide">
				<div style="padding-top:15px">			

					{% block main %}{% endblock %}
				</div>
			</div>
			
			<div id="footer">Copyright &copy;2010 <a href="http://www.zvents.com" target=_new>Zvents</a></div>
		</div>

</html>
