{% extends "default.html" %}

	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/index.css" />
	{% endblock %}

	{% block onload %}onload="FB.Canvas.setSize()"{% endblock %}

	{% block main %}

			{% for tList in arrLists %}

			<div id="listItem">
				
				<div class="itemHdr">
					<div style="float:right">
						{% ifnotequal "me" navIndex %}
						<a href="{{APP_LINK}}new/create?c={{tList.catID}}#list"><img src="{{APP_LINK}}img/v1/build_your_list_button.jpg" border="0" /></a>
						{% endifnotequal %}
					</div>
					<div style="position:absolute;left:65px">
						<table cellpadding="3" border=0>
						<tr>
							<td valign="top" style="padding-top:5px">Top</td>
							<td valign=top><img src="{{APP_LINK}}img/v1/5_circle.jpg"/></td>
							<td valign=top style="width:400px;padding-top:8px;"><a href="{{APP_LINK}}like/{{tList.key}}#list" style="line-height:20px;">{{tList.name}}</td>
						</tr>
						</table>
					</div>
					<div>
						<div style="width:66px;text-align:center">
						<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
							<fb:name uid="{{tList.fbUID}}" capitalize="true" firstnameonly="true" possesive="true" linked="false"/>
						</div>
					</div>
				</div>

				<div id="itemImg">
				
					<table border=0>
						<tr>

						{% for item in tList.items %}
							<td valign="top">
							<a href="http://www.zvents.com{{item.url}}" target=_new>
								<div style="position:relative;padding-right:18px">
									<img src="{{APP_LINK}}img/v1/box_1.jpg" border="0" />				
									<div class="imgBox">
										<img src="{{item.img}}" width=108 height=108 border="0">
									</div>
									<div class="list_item">
										{{item.name}}
									</div>
								</div>
							</a>
							</td>
						{% endfor %}

						</tr>
					</table>
				</div>

				<div style="padding-left:10px;padding-top:15px">
					<fb:like width="400" href="{{list_link}}like/{{tList.key}}" show_faces="false"></fb:like>
				</div>
			</div>
			{% endfor %}

	{% endblock %}
