{% extends "default.html" %}

	{% block head %}
	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/index.css" />
	
	<script language="javascript">

		function overF(keyObj, img)
		{
			keyObj.src=img;
		}

		function outF(key, index, sName)
		{}

	</script>
	{% endblock %}

	{% block onload %}onload="FB.Canvas.setSize({height:1800});"{% endblock %}

	{% block main %}	

		{% for tList in arrLists %}
			
			<div id="listItem">

				<div id="fiveList">
					<div style="position:absolute;top:0px;left:273px">
						<img name="i_{{tList.items.0.key}}" src="{{tList.items.0.img}}" width="100" height="100" />					
					</div>

					<div style="width:265px" id="tset" style="border:solid 1px">
								
						<ol style="list-style-type:decimal">
							
								{% for item in tList.items %}
								<li style="position:relative">
								<a href="{{APP_LINK}}like/{{tList.key}}#list" onMouseOver="overF(document.i_{{tList.key}}, '{{item.img}}')" target=_top >
								{{item.name}}
								</a>
								</li>
								{% endfor %}
						<ol>
					</div>

				</div>
				
				<div id="itemHdr">
					<div style="position:absolute;left:65px">
						<div style="padding-top:0px;padding-left:5px;width:280px;color:#aaaaaa">
							<a href="{{FB_APP_LINK}}like/{{tList.key}}#list" target=_top>
							Top
							<img src="{{APP_LINK}}img/v1/small_top5_icon.jpg" border="0" style="vertical-align:text-top" />
							{{tList.name}}</a>
							in {{tList.location}}
						</div>
					</div>
					<div>
						<div style="width:66px;text-align:center;font-size:12px">
						<a href="http://www.facebook.com/profile.php?id={{tList.fbUID}}" target="_top">
						<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
						</a>
						{{tList.fbName}}
						</div>
					</div>
					
					<div style="padding-left:8px;padding-top:16px;width:350px;height:35px">
						<fb:like href="{{APP_LINK}}lnk/{{tList.key}}" width="300" height="35" show_faces="false"></fb:like>
					</div>
				</div>
				
			</div>

		{% endfor %}

	{% endblock %}