<html>
	<head>
	
	<script type="text/javascript" charset="utf-8" src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js">
	</script>
	
	<style type="text/css">
<!--
body {
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
	color:#1a1a1a;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

div#demo,
ul#demo li {
	padding:0px;
	margin:0px;
    list-style: none;
    padding-left: 0px;
    zoom:1;
    font-size:14px;
    line-height:14px;

}

ul#demo2 li {
    background: #dadada;
    border: 1px solid #71241a;
}

ul#demo,
ul#demo2 {
    width: 10em;
}

.yui3-fail {
    background:red;
}

.lstName {
	padding-left:20px;
	padding-bottom:10px;
	font-size:12px;
	color:3366cc;
}
.lstName a {
	color:3366cc;
	text-decoration:none;
}

#demo .yui3-pass,
#demo2 .yui3-pass {
    background:green;
}

#demo dt {
    font-weight:bold;
}

#demo dt::after {
    content':';
}

#demo dd {
    margin-bottom:0.5em;
}

span#demo {
    background:#ffa928;
    display:block;
    height:10px;
    width:10px;
}

.sub_h {
    width:150px;
    height:32px;
    border: 1px solid #c9c9c9;
    color: #333333
}

.sub_on {
	width:150px;
	height:32px;
	color:#ffffff;
	border: 1px solid #c9c9c9;
	background-image:url('img/header_bg.jpg');
}


.sub_off {
	color:#ffffff;
	background-image:none;
	border: 1px solid #c9c9c9;
}

.sub_title {
	position:absolute;
	padding-left:9px;
	padding-top:7px;
}

.sub_title a {
	text-decoration: none;
	color: #1a1a1a;
}


.sub {
	padding:6px;
	padding-left:12px;
}

.sub a {
	font-size:12px;
	text-decoration: none;
	color: #3366cc;
}

.sub a:visited {
	font-size:12px;
	text-decoration: none;
	color: #cc66ff;
}
.off {
	display:none;
}

div#search {
	position:absolute;
	top:50px;
	width:150px;
	height:90px;
	background:#ffffff;
    border: 1px solid #999999;
    font-size: 12px;
    color:#FF9933;
    font-weight: bold
}

div#search input[type="text"], div#inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #999999;
    width: 135px;
}

div#search a {
	font-size:10px;
	text-decoration: none;
	color: #3366cc;
	font-weight:normal;
}

div#wrapper {
	position:relative;
	top:0px;
	width: 761px;
	background-color:#FFFFFF;
	padding: 0px;
	border: 1px solid #c9c9c9;
}

div#header {
	padding: 0px;
	margin: 0px;
	width:761px;
	height:56px;
}

.banner_txt {
	position:absolute;
	top:20px;
	left:530px;
	padding-right:30px;
	font-size:20px;
	color:#ffffff;
	font-weight:bold;
}

.banner_sub_txt {
	position:absolute;
	top:8px;
	left:510px;
	padding-right:30px;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}

div#subheader {
	padding: 0px;
	margin: 0px;
	width:761px;
	height:32px;
	background-image:url('img/header_bg.jpg');
	
	text-align:right;
	font-size:13px;
	color:#ffffff;
}

.sub_txt,
.sub_button 
{
	padding-top:6px;
	padding-right:25px;
	float:right;
	position:relative;
}

.sub_txt a {
	color:#ffffff;
	text-decoration:none;
}

.sub_button a {
	color:#1a1a1a;
	text-decoration:none;
}


div#nav {
	width: 150px;
	padding: 0px;
	margin-top: 0px;
	padding-top:45px;
	float: left;
}

div#main {
	padding-left: 170px;
	padding-top: 0px;
	min-height:450px;
}

div#main .hdr {
	font-size:15px;
	color:#333333;
}

div#main .hdr a {
	color:#333333;
}

div#main .title {
	font-size:12px;
}

div#main .img_title {
	font-size:9px;
}

div#footer {
	padding: 15px;
	margin: 0px;
}
-->
</style>

	<script language="javascript">

		YUI().use("node", function(Y) {

		    function fnHandler(e) {
	    		Y.one('#cat{{iCategory}}_h').addClass('sub_on');
				Y.one('#cat{{iCategory}}_s').setStyle('display','');
		    }

			Y.on("load", fnHandler);

			var contextObj = {
				name: "context"
			};

		    var onClick_cat = function(e) {

		    	var open = false;
		    	id = e.currentTarget.get('id');
		    	
		    	if (Y.one('#'+id+'_s').getStyle('display') == 'none')
		    	{
					open = true;
		    	}
		    	Y.all('.sub').setStyle('display','none');
		    	Y.all('.sub_on').removeClass('sub_on');

		    	if (open)
		    	{
		    		Y.one('#'+id+'_h').addClass('sub_on');
					Y.one('#'+id+'_s').setStyle('display','');
		    	}

		    	document.location.href='/?c='+id.substring(3,4);
		    };
	
		    Y.all('#demo li').on('click', onClick_cat);
		});		
	</script>
	</head>
  <body>

<fb:login-button autologoutlink="true"></fb:login-button>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    {% if 1 %} 
    	
<div id="wrapper">
	
	<div id="header">
		<a href="/"><img src="img/Top_5_header.jpg" border=0 /></a>
		<div class="banner_sub_txt">{%if sCategory%}{{sCategory}} in{%endif%}</div>
		<div class="banner_txt">{{location}}</div>
	</div>

	<div id="subheader">
		<div class="sub_button" style="width:100px">
			<div style="position:absolute;top:4px;left:0px;"><img src='img/gold_bttn.gif'></div>
			<div style="position:absolute; left:15px"><a href="/new/create">Create a List</a></div>	
		</div>
		<div class="sub_txt"><a href="/?f=1">Friend's Lists</a></div>
		<div class="sub_txt"><a href="/?u=1">My Lists</a></div>
	</div>

	<form action="/" name="search" method="get">
	<div id="search">
		<div style="padding:7px">
			<input type="text" name="search" />
			
			<div style="padding-top:10px;padding-left:1px;position:relative">
				{{location}}<br><a href="#">[change location]</a>
				
				<div style="position:absolute;left:108px;top:5px">
					<a href="javascript:document.forms['search'].submit();">
					<img src="img/go_bttn.jpg" border="0">
					</a>
				</div>
			</div>
		</div>
	</div>
	</form>
	
	<div id="nav">
		<ul id="demo" class="yui3-menubutton">
		{% for cat in arr_cat.category %}
			<li id='cat{{cat.id}}'>
				<div id="cat{{cat.id}}_h" class='sub_h'>
					<div class="sub_title">{{cat.name}}</div>
				</div>
			</li>
			<div id='cat{{cat.id}}_s' class='sub' style='display:none'>
			{% for s in cat.sub %}
				<a href="/?c={{cat.id}}&s={{s.id}}">{{s.name}}</a><br>
	 		{% endfor %}
	 		</div>
		{% endfor %}
		</ul>
	</div>
	
	<div id="main">
	
		{%if bOneList %}
			{% for tList in aList %}
	
			<div class='hdr'><fb:name uid="{{tList.fbUID}}" possessive="true" /></fb:name> Top 5 List of {{arr_cat.category.0.name}} in {{location}}</div>
			
			<div style="padding-top:15px">
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td colspan=5 class="title"><div class="lstName">{{tList.name}}</div></td>
				<td rowspan="3" valign="top">
					<div style="padding-top:10px">
					<a href="/new/create"><img src="img/Pick_your_5_bttn.jpg" border="0"></a>
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding-right:3px"><img src="http://graph.facebook.com/{{ tList.fbUID }}/picture?type=square" border="0"/></td>
				{% for img in tList.arrImg %}
					<td align="center"><div style="padding-left:20px"><a href="http://www.zvents.com/" target=_new><img src="{{img}}" width=66 height=66 border="0"></a></div></td>
	 			{% endfor %}
	 		</tr>
	 		<tr>
	 			<td></td>
	 			{% for nm in tList.arrNames %}
					<td class="img_title" valign="top" width=86><div style="padding-left:17px">{{nm}}</div></td>
	 			{% endfor %}
	 		</tr>
	 		<tr>
	 			<td></td>
	 			<td colspan=6 style="padding-left:20px;padding-top:5px">
				<fb:comments xid="{{ tList.key }}" width="500" numposts="5"></fb:comments>	 			
	 			</td>
	 		</tr>
	 		</table>
	 		</div>
 			<br><bR>
 			
 			
 			{% endfor %}
 				
		{% endif %}
	
		<div class='hdr'>
		{%ifnotequal sSearch ""%}
			Search results for <b>'{{sSearch}}'</b>
		{%else%}
			Most Popular {{ sCategory }} Lists 
		{%endifnotequal%}
		in {{location}}
		</div>

		<div style="padding-top:15px">
			
			{% for tList in arrLists %}
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
				<td colspan=5 class="title"><div class="lstName"><a href="/?lid={{tList.key}}">{{tList.name}}</a></div></td>
				<td rowspan="3" valign="top">
					<div style="padding-top:10px">
					<a href="/new/create"><img src="img/Pick_your_5_bttn.jpg" border="0"></a>
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding-right:3px"><img src="http://graph.facebook.com/{{ tList.fbUID }}/picture?type=square" border="0"/></td>
				{% for img in tList.arrImg %}
					<td align="center"><div style="padding-left:20px"><a href="http://www.zvents.com/" target=_new><img src="{{img}}" width=66 height=66 border="0"></a></div></td>
	 			{% endfor %}
	 		</tr>
	 		<tr>
	 			<td></td>
	 			{% for nm in tList.arrNames %}
					<td class="img_title" valign="top" width=86><div style="padding-left:17px">{{nm}}</div></td>
	 			{% endfor %}
	 		</tr>
	 		<tr>
	 			<td></td>
	 			<td colspan=5 style="padding-left:15px;padding-top:10px">
				<iframe src="http://www.facebook.com/plugins/like.php?href={{list_link}}?lid={{tList.key}}&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:35px;" allowTransparency="true"></iframe>	 			
	 			</td>
	 		</tr>
	 		</table>
 			<br><bR>
			{% endfor %}
		</div>
	</div>
	
		<div id="footer">this is the zvents footer</div>
	</div>
</div>

    {% endif %}
  </body>
</html>