<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">

	<head>
	<title>{{tList.name}}</title>
	<meta property="og:title" content="{{fName}}'s Top 5 {{tList.name}}"/> 
	<meta property="og:type" content="article" /> 
	<meta property="og:image" content="{{tList.items.0.img}}"/> 
	<meta property="og:url" content="{{app_link}}?lid={{ tList.key }}"/> 
	<meta property="og:site_name" content="Top 5 Lists"/> 
	<meta property="fb:app_id" content="{{facebook_app_id}}" />
	<meta property="fb:admins" content="708697131" />
	</head>
	
  	<body>	
  	</body>

</html>