{% extends "default.html" %}

	{% block title %}Top 5 {{tList.name}}{% endblock %}
	
	{% block head %}
	<meta property="og:title" content="Top 5 {{tList.name}}"/> 
	<meta property="og:type" content="article" /> 
	<meta property="og:image" content="{{tList.items.0.img}}"/> 
	<meta property="og:url" content="{{APP_LINK}}like/{{ tList.key }}"/> 
	<meta property="og:site_name" content="Top 5 Lists"/> 
	<meta property="fb:app_id" content="{{facebook_app_id}}" />
	<meta property="fb:admins" content="708697131,1222333" />

	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/index.css" />
	{% endblock %}

	{% block onload %}onload="FB.Canvas.setSize()"{% endblock %}

	{% block sub_search %}				
	<div style="width:500px;position:relative;padding-top:10px;padding-left:10px">
		<div style="padding-left:10px;padding-top:2px;float:right">
			<fb:like width="250" height="40" show_faces="false"></fb:like>
		</div>		
		<div id="vote">Vote for <fb:name uid="{{tList.fbUID}}" linked="false" capitalize="true" firstnameonly="true" possessive="true"></fb:name> list by Liking it</div>
	</div>
	{% endblock %}
				
	{% block main %}

			<div id="listItem">
				
				<div class="itemHdrSingle">
					<div style="float:right">
						<a href="{{APP_LINK}}new/create?c={{tList.catID}}"><img src="{{APP_LINK}}img/v1/build_your_list_button.jpg" border="0" /></a>
					</div>
					<div style="position:absolute;left:65px;top:10px">
						<table cellpadding="3"  >
						<tr>
							<td valign=top style="padding-top:10px">Top</td>
							<td valign=top><img src="{{APP_LINK}}img/v1/5_circle.jpg"/></td>
							<td valign=top style="padding-top:10px;width:400px">{{tList.name}}</td>
						</tr>
						
						</table>
					</div>
					<div style="position:absolute;left:69px;top:-5px">
					<fb:name uid="{{tList.fbUID}}" capitalize="true" linked="false" firstnameonly="true" possessive="true"></fb:name> Top 5 List:
					</div>
					<div>
						<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
					</div>
				</div>

				<div id="itemImg">
				
					<table border=0>
						<tr>
						{% for item in tList.items %}
							<td valign="top">
							<a href="http://www.zvents.com{{item.url}}" target=_new>
								<div style="position:relative;padding-right:18px">
									<img src="{{APP_LINK}}img/v1/box_1.jpg" border="0" />
									
									<div class="imgBox">
										<img src="{{item.img}}" width=108 height=108 border="0">
									</div>
									<div class="list_item">
										{{item.name}}
									</div>
									
								</div>
							</a>
							</td>
						{% endfor %}
						</tr>
					</table>
				</div>

				<div style="position:relative;">
				
					<table border=0 cellpadding=0 cellspacing=0>
					<tr>
						<td valign=top>
							<div style="padding-left:10px;padding-top:15px;position:relative;width:480px;float:left">
								<fb:comments
									url="{{list_link}}like/{{ tList.key }}"
									title="Top 5 {{tList.name}}" 
									xid="{{ tList.key }}" 
									width="470"
									reverse="true"></fb:comments>
							</div>						
						</td>
						<td class="tbox">
							<div id="tlistbox">
								<div style="border-left: 1px dotted #999999;padding-left:5px;position:relative">
								
									<div style="position:absolute;left:65px;top:15px">
									<fb:name uid="{{tList.fbUID}}" linked="false" capitalize="true" firstnameonly="true" possessive="true"></fb:name> Top 5 Lists:
									</div>
									<div>
										<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
									</div>
		
									<div>
									{% for tList in arrList %}
										<div style="padding-top:13px">
										<a href="/?lid={{tList.key}}#list" style="font-size:14px;color:#3333CC;">Top 5 {{tList.name}}</a>
										
											<div style="padding:3px;font-size:11px">San Francisco, CA</div>
										</div>
									{% endfor %}
									</div>
								</div>
							</div>
						</td>
					</tr>
					</table>
					
				</div>
			</div>

	{% endblock %}
