{% extends "default.html" %}

	{% block title %}Top 5 {{tList.name}}{% endblock %}
	
	{% block head %}
	<meta property="og:title" content="Top 5 {{tList.name}}"/> 
	<meta property="og:type" content="article" /> 
	<meta property="og:image" content="{{tList.items.0.img}}"/> 
	<meta property="og:url" content="{{APP_LINK}}like/{{ tList.key }}"/> 
	<meta property="og:site_name" content="Top 5 Lists"/> 
	<meta property="fb:app_id" content="{{facebook_app_id}}" />
	<meta property="fb:admins" content="708697131,1222333" />
 	<meta name="description" content="{{description}}" />
 
	<link rel="stylesheet" type="text/css" href="{{APP_LINK}}css/index.css" />
	{% endblock %}

	{% block onload %}onload="FB.Canvas.setSize()"{% endblock %}
	
	{% block search %}
		<div id="search">			
			<div style="background-image:url('../img/v1/gradient_below_tabs.jpg');width:760px;height:55px">

			<div style="width:760px;position:relative;padding-top:10px;padding-left:10px">
				<div style="padding-left:10px;padding-top:5px;float:right">
					<fb:like href="{{list_link}}/lnk/{{tList.key}}" width="350" height="30" show_faces="false"></fb:like>
				</div>		
				<div id="vote">Vote for <fb:name uid="{{tList.fbUID}}" linked="false" capitalize="true" firstnameonly="true" possessive="true"></fb:name> list by Liking it</div>
			</div>
			</div>
		</div>
	{% endblock %}

	{% block main %}
			<div id="listItem">

				<div class="itemHdrSingle">
					<div style="float:right">
						<a href="{{APP_LINK}}new/create?c={{tList.catID}}&t={{tList.topicID}}&tn=" target=_top><img src="{{APP_LINK}}img/v1/build_your_list_button.jpg" border="0" /></a>
					</div>
					<div style="position:absolute;left:65px;top:25px">
						<table cellpadding="3" border="0">
						<tr>
							<td valign=top style="padding-top:3px">Top</td>
							<td valign=top><img src="{{APP_LINK}}img/v1/5_circle.jpg"/></td>
							<td valign=top style="padding-top:3px;width:400px">{{tList.name}}</td>
						</tr>
						
						</table>
					</div>
					<div style="position:absolute;left:69px;top:10px">
					<fb:name uid="{{tList.fbUID}}" capitalize="true" linked="false" firstnameonly="true" possessive="true"></fb:name>&nbsp;Top 5 List:
					</div>
					<div style="padding-left:5px">
						<a href="http://www.facebook.com/profile.php?id={{tList.fbUID}}" target="_top">
						<img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/>
						</a>
					</div>
				</div>

				<div id="itemImg">
				
					<div style="height:180px;padding-top:18px;position:relative">
						
						{% for item in tList.items %}
							<div style="float:right;padding-left:0px;padding-right:18px">
								<a href="http://www.zvents.com{{item.url}}" target=_new >
								<div id="itemBox">								
									<div id="imgBox">
										<img src="{{item.img}}" width=120 height=120 border="0">
									</div>
									<div id="itemTxt">
										{{item.name}}
									</div>
								</div>
								</a>
							</div>
						{% endfor %}

					</div>
				</div>

				<div style="position:relative;">
				
					<table border=0 cellpadding=0 cellspacing=0>
					<tr>
						<td valign=top>
							<div style="padding-left:10px;padding-top:15px;position:relative;width:480px;float:left">
								<fb:comments
									url="{{list_link}}like/{{ tList.key }}"
									title="Top 5 {{tList.name}}" 
									xid="{{ tList.key }}" 
									width="470"
									reverse="true"
									simple="1"
									css="{{APP_LINK}}css/fb_comments.css"></fb:comments>
							</div>						
						</td>
						<td class="tbox">
							<div id="tlistbox">
								<div style="border-left: 1px dotted #999999;padding-left:5px;position:relative">
								
									<div style="position:absolute;left:65px;top:15px">
									<fb:name uid="{{tList.fbUID}}" linked="false" capitalize="true" firstnameonly="true" possessive="true"></fb:name> Top 5 Lists:
									</div>
									<div>
										<a href="http://www.facebook.com/profile.php?id={{tList.fbUID}}" target="_top"><img src="http://graph.facebook.com/{{tList.fbUID}}/picture?type=square" border="0"/></a>
									</div>
		
									<div>
									
										<div style="padding-top:13px">
											<a href="{{FB_APP_LINK}}like/{{ tList.key }}#list" style="font-size:14px;color:#3333CC;" target=_top>Top 5 {{tList.name}}</a>
											<div style="padding:3px;font-size:11px">{{tList.location}}</div>
										</div>

									</div>
								</div>
							</div>
						</td>
					</tr>
					</table>
				</div>

			</div>

	{% endblock %}
